.title {
    width: 80%;
    display: flex;
    justify-content: center;
}
.articles {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 50px;
    .article {
        width: 35%;
        border: 1px solid black;
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        margin-bottom: 50px;
        .article-img {
            width: 100%;
            border-radius: 10px;
            height: 300px;
        }
    }
    button {
        padding: 10px 20px;
        margin: 5px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #007bff;
        color: #fff; 
    }
  
    .delete {
        margin-top: 15px;
        background-color: #FF5733;
        &:hover {
            background-color: #D9411E;
        }
    }
}
.pagination-div {
    text-align: center;
    margin-top: 20px;
    .pagination {
        list-style: none;
        padding: 0;
        display: inline-block;

        li {
            display: inline;
            margin: 0 5px;

            a {
                text-decoration: none;
                padding: 5px 10px;
                border: 1px solid #333;
                background-color: #f5f5f5;
                color: #333;
                border-radius: 5px;
                cursor: pointer;

                &.active {
                    background-color: #333;
                    color: #fff;
                }

                &:hover {
                    background-color: #ddd;
                }
            }
        }
    }
}