<div class="home-div-2">
    <div class="currency">
        <div class="currency-div">
            <img src="../../../assets/home-pic/flag-usa.jpg" alt="flag-usa">
            <p>DOLLAR</p>
            <p>29 FEB 2016</p>
        </div>
        <div class="currency-line"></div>
        <div class="currency-div">
            <img src="../../../assets/home-pic/flag-singapore.jpg" alt="flag-singapore">
            <p>SINGAPORE</p>
            <p>1.40822 SGD</p>
            <p class="red">-0.0048</p>
        </div>
        <div class="currency-line"></div>
        <div class="currency-div">
            <img src="../../../assets/home-pic/flag-malaysia.jpg" alt="flag-malaysia">
            <p>MALAYSIA</p>
            <p>4.22221 MYR</p>
            <p class="green">+0.0005</p>
        </div>
        <div class="currency-line"></div>
        <div class="currency-div">
            <img src="../../../assets/home-pic/flag-indonesia.jpg" alt="flag-indonesia">
            <p>INDONESIA</p>
            <p>13,261.36 IDR</p>
            <p class="red">-0.00023</p>
        </div>
        <div class="currency-line"></div>
        <div class="currency-div">
            <img src="../../../assets/home-pic/flag-china.jpg" alt="flag-china">
            <p>YUAN</p>
            <p>6.52799 CNY</p>
            <p class="green">+0.00015</p>
        </div>
        <div class="currency-line"></div>
        <div class="currency-div">
            <img src="../../../assets/home-pic/flag-european-union.jpg" alt="flag-european-union">
            <p>EURO</p>
            <p>0.907696 EUR</p>
            <p class="red">-0.00058</p>
        </div>
    </div>

    <div class="news-div">
        <h2>INTERNATION NEWS</h2>
        <div class="news-line"></div>
        <div class="child-div">
            <img src="../../../assets/home-pic/trump.jpg" alt="trump">
            <div class="child-div-p">
                <p>15th Jan</p>
                <p class="second-p"><b>By the numbers: The Trump orbit's contacts with Russians</b></p>
            </div>
        </div>
        <div class="child-div">
            <img src="../../../assets/home-pic/genocide.jpg" alt="genocide">
            <div class="child-div-p">
                <p>15th Jan</p>
                <p class="second-p"> <b>Ratko Mladic guilty of genocide, sentenced to life in prison</b></p>
            </div>
        </div>
        <div class="child-div">
            <img src="../../../assets/home-pic/zimbabwe.jpg" alt="zimbabwe">
            <div class="child-div-p">
                <p>15th Jan</p>
                <p class="second-p"><b>Zimbabwe's Mnangagwa returns to lead nation into 'new democracy'</b></p>
            </div>
        </div>
    </div>

    <div class="news-div">
        <h2>SPORTS NEWS</h2>
        <div class="news-line"></div>
        <div class="child-div">
            <img src="../../../assets/home-pic/becker.jpg" alt="becker">
            <div class="child-div-p">
                <p>15th Jan</p>
                <p class="second-p"><b>Boris Becker: Can tennis great remember his record-breaking Wimbledon run?</b></p>
            </div>
        </div>
        <div class="child-div">
            <img src="../../../assets/home-pic/pepe.jpg" alt="pepe">
            <div class="child-div-p">
                <p>15th Jan</p>
                <p class="second-p"> <b>Former Real Madrid star Pepe calls on Cristiano Ronaldo to 'come to Besiktas'</b></p>
            </div>
        </div>
        <div class="child-div">
            <img src="../../../assets/home-pic/greg.jpg" alt="greg">
            <div class="child-div-p">
                <p>15th Jan</p>
                <p class="second-p"><b>'The Shark' bites: Greg Norman's mind is 'blown' by modern game's failings</b></p>
            </div>
        </div>
    </div>
</div>