<div class="box-div">
    <div class="box"></div>
</div>
<h1 class="title">{{currentPath}}</h1>
<div class="error" *ngIf="errorMessage">
    <h2>Something went wrong...</h2>
    <h3>{{errorMessage}}</h3>
</div>
<div class="articles">
    <div class="article" *ngFor="let news of onePageData()">
        <div class="line"></div>
        <div class="article-div">
            <div class="info-div">
                <p>{{ news.description | slice: 0 : 200 }}...</p>
                <a [routerLink]= "[news.id]" class="see-more">See more...</a>
                <div class="admin-buttons">
                    <button *ngIf="isAdminTrue()" class="delete" (click)="deleteNews(news.id)">Delete</button>
                    <button *ngIf="isAdminTrue()" class="edit" (click)="editButton(news)">Edit</button>
                </div>
            </div>
            <div class="title-div">
                <h3>{{currentPath}}</h3>
                <h2>{{news.title}}</h2>
            </div>
            <img class="article-img" [src]="news.urlToImage" alt="{{ news.title }}">
        </div>
    </div>
</div>
<div class="pagination-div" *ngIf="!errorMessage">
    <ul class="pagination" *ngFor="let page of pageNumbers">
        <li><a (click)="currentPage = page" [class.active]="currentPage === page" (click)="scrollToTop()">{{page}}</a></li>
    </ul>
</div>
<div *ngIf="this.articleDataService.showForm" class="pop-up">
    <app-forupdate></app-forupdate>
</div>