<div class="footer-div">
    <ul class="footer-ul">
        <li>Terms of Use</li>
        <li>About Us</li>
        <li>Privacy Policy</li>
        <li>Cookies</li>
        <li>Accessibility Help</li>
        <li>Advertise with us</li>
    </ul>
</div>
<div class="footer-div-2">
    <p>Copyright © 2023 The News Portal. We are not responsible for the content of external sites. Read about our approach to external linking.</p>
    <ul class="supporters">
        <li>
            <img src="../../../assets/footer-logo-cnbc.png" alt="cnbc">
        </li>
        <li>
            <img src="../../../assets/footer-logo-msnbc-upper.png" alt="msnbc">
        </li>
        <li>
            <img src="../../../assets/footer-logo-nbcnews.png" alt="nbcnews">
        </li>
        <li>
            <img src="../../../assets/footer-logo-today-jul15.png" alt="today">
        </li>
        <li>
            <img src="../../../assets/footer-logo-xfinity.png" alt="xfinity">
        </li>
    </ul>
</div>
