<h1 class="title">World News</h1>
<div class="articles">
    <div class="article" *ngFor="let world of onePageData()">
        <img class="article-img" [src]="world.urlToImage" alt="{{ world.title }}">
        <h3>{{ world.title}}</h3>
        <p>{{ world.description | slice: 0 : 50 }}...</p>
    </div>
</div>
<div class="pagination-div">
    <ul class="pagination" *ngFor="let page of pageNumbers">
      <li><a style="cursor: pointer;" (click)="currentPage = page" [class.active]="currentPage === page" (click)="scrollToTop()">{{page}}</a></li>
    </ul>
</div>