<div class="form-div">
    <button class="back-btn" (click)="backToHome()">Back</button>
    <form [formGroup]="loginForm" class="form" (submit)="Submit()">
        <h2 class="admin">ADMIN</h2>
        <label class="label">
            Email:
            <input class="input" type="text" name="email" formControlName="email">
        </label>
        <label class="label">
            Password:
            <input class="input" type="password" name="password" formControlName="password">
        </label>
        <div class="warning" *ngIf="warningMessage">{{ warningMessage }}</div>
        <button class="btn" [disabled]="loginForm.invalid" type="submit">Login</button>
    </form>
</div>