<div class="form-div">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
        <h2 class="news-title">Add News</h2>
      
        <label class="label">
          Category:
          <select formControlName="category">
            <option value="sports">Sports</option>
            <option value="technology">Technology</option>
            <option value="worlds">Worlds</option>
          </select>
        </label>
    
        <label class="label">
          Title:
          <input type="text" name="title" formControlName="title">
        </label>
        <label class="label">
          Description:
          <textarea style="resize: none;" rows="4" cols="54" name="description" formControlName="description"></textarea>
        </label>
        <label class="label">
          Url To Image:
          <input type="text" name="urlToImage" formControlName="urlToImage">
        </label>
        <label class="label">
          Content:
          <textarea style="resize: none;" rows="4" cols="54" name="content" formControlName="content"></textarea>
        </label>
      
        <div class="buttons">
          <button [disabled]="loginForm.invalid" class="add-btn">ADD</button>
          <button type="button" (click)="resetForm()" class="reset-btn">Reset</button>
        </div>
    </form>
</div>