<button (click)="showWorldBtn()">Worlds</button>
<button (click)="showSportBtn()">Sports</button>
<button (click)="showTechnicsBtn()">Technics</button>

<div *ngIf="showSport">
    <form [formGroup]="loginForm" (submit)="sportsSubmit()">
        <h2 class="admin">Sports</h2>
        <label class="label">
            Title:
            <input type="text" name="title" formControlName="title">
        </label>
        <label class="label">
            Description:
            <input type="text" name="description" formControlName="description">
        </label>
        <label class="label">
            Url To Image:
            <input type="text" name="urlToImage" formControlName="urlToImage">
        </label>
        <label class="label">
            Content:
            <input type="text" name="content" formControlName="content">
        </label>
        <button>ADD</button>
    </form>
</div>

<div *ngIf="showTechnics">
    <form [formGroup]="loginForm" (submit)="technicsSubmit()">
        <h2 class="admin">Technics</h2>
        <label class="label">
            Title:
            <input type="text" name="title" formControlName="title">
        </label>
        <label class="label">
            Description:
            <input type="text" name="description" formControlName="description">
        </label>
        <label class="label">
            Url To Image:
            <input type="text" name="urlToImage" formControlName="urlToImage">
        </label>
        <label class="label">
            Content:
            <input type="text" name="content" formControlName="content">
        </label>
        <button>ADD</button>
    </form>
</div>


<div *ngIf="showWorld">
    <form [formGroup]="loginForm" (submit)="worldsSubmit()">
        <h2 class="admin">Worlds</h2>
        <label class="label">
            Title:
            <input type="text" name="title" formControlName="title">
        </label>
        <label class="label">
            Description:
            <input type="text" name="description" formControlName="description">
        </label>
        <label class="label">
            Url To Image:
            <input type="text" name="urlToImage" formControlName="urlToImage">
        </label>
        <label class="label">
            Content:
            <input type="text" name="content" formControlName="content">
        </label>
        <button>ADD</button>
    </form>
</div>