<h1 class="title">Sports</h1>
<div class="articles">
    <div class="article" *ngFor="let sport of onePageData()">
        <img class="article-img" [src]="sport.urlToImage" alt="{{ sport.title }}">
        <h3>{{ sport.title}}</h3>
        <p>{{ sport.description | slice: 0 : 150 }}...</p>
        <a [routerLink]= "['/sports', sport.id]">See more</a>
        <div>
            <button *ngIf="isAdminTrue()" class="delete" (click)="deleteNews(sport.id)">Delete</button>
        </div>
    </div>
</div>
<div class="pagination-div">
    <ul class="pagination" *ngFor="let page of pageNumbers">
      <li><a (click)="currentPage = page" [class.active]="currentPage === page" (click)="scrollToTop()">{{page}}</a></li>
    </ul>
</div>