<div class="articles">
    <div class="article" *ngFor="let sport of onePageData()">
        <img class="article-img" [src]="sport.urlToImage" alt="{{ sport.title }}">
        <h3>{{ sport.title}}</h3>
        <p>{{ sport.description | slice: 0 : 150 }}...</p>
    </div>
</div>
<div class="pagination-div">
    <ul class="pagination" *ngFor="let page of pageNumbers">
      <li><a style="cursor: pointer;" (click)="currentPage = page" [class.active]="currentPage === page" (click)="scrollToTop()">{{page}}</a></li>
    </ul>
</div>