<div class="header">
    <div *ngIf="loaderService.isLoading | async" class="loader-container">
        <div class="custom-progress-bar">
        </div>
    </div>
    <div class="header-div">
        <div class="logo-div">
            <div class="the-date">
                <div class="the">THE</div>
                <div class="date">{{today| date : 'longDate'}}</div>
            </div>
            <h3 class="news-portal" routerLink="home"><a>News<span>Portal</span></a></h3>
        </div>
        <div class="nav-login">
            <nav class="navigation">
                <ul class="nav-ul" [ngClass]="{'sidebar': isExpanded$ === true }">
                    <li>
                        <a (click)="open()" routerLinkActive="activee"  class="nav-li" routerLink="home">Home</a>
                    </li>
                    <li>
                        <a (click)="open()" routerLinkActive="active" class="nav-li" routerLink="world">World</a>
                    </li>
                    <li>
                        <a (click)="open()" routerLinkActive="active" class="nav-li" routerLink="technology">Technology</a>
                    </li>
                    <li>
                        <a (click)="open()" routerLinkActive="active" class="nav-li" routerLink="sport">Sports</a>
                    </li>
                    <li>
                        <a (click)="open()" routerLinkActive="active" class="nav-li" routerLink="weather">Weather</a>
                    </li>
                    <li [hidden]="!Admin()">
                        <a (click)="open()" routerLinkActive="active" class="nav-li" routerLink="add-news">Add</a>
                    </li>
                </ul>
            </nav>
            <div class="navBar" (click)="open()"><i class="fa-solid fa-bars-staggered"></i></div>
            <div *ngIf="isExpanded$" class="closeBar" (click)="open()"><i class="fa-solid fa-xmark"></i></div>
            <div class="login">
                <img [hidden]="Admin()" routerLink="login" class="login-svg" src="../../../assets/user-solid.svg" alt="login-svg">
                <p class="log-out" [hidden]="!Admin()" (click)="logOut()">Log Out</p>
            </div>
        </div>
    </div>
    <div class="social-media">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>
</div>