<div class="home-div">
    <div class="first-div">
        <img src="../../../assets/home-pic/woman.jpg" alt="woman">
        <div class="first-div-p">
            <h2>Le Pen slams 'banking fatwa' against National Front after accounts closed</h2>
            <p>French far-right leader Marine Le Pen on Wednesday said she would take banking giants HSBC and Societe Generale to court for discrimination after they moved to close her personal and party accounts.</p>
        </div>
    </div>
    
    <div class="second-div">
        <div class="first-info">
            <img src="../../../assets/home-pic/men.jpg" alt="Qatar meeting">
            <p>Qatar's foreign minister accuses Saudi Arabia of sparking humanitarian crisis DW interview, Qatar's foreign minister has slammed Saudi Arabia for "destabilizing the region." The minister said Riyadh is using what it calls security concerns as a "smoke screen" to harm Qatar's economy.</p>
        </div>
        <div class="first-info">
            <img src="../../../assets/home-pic/david-cassidy.jpg" alt="David Cassidy">
            <p>David Cassidy, 'The Partridge Family' teen heartthrob, dies at 67 US musician and actor David Cassidy has died at the age of 67 in a Florida hospital. Cassidy first rose to fame playing a lead vocalist and guitarist in the 1970s sitcom "The Partridge Family."</p>
        </div>
    </div>
    
    <div class="second-div">
        <div class="first-info">
            <img src="../../../assets/home-pic/rohingya.jpg" alt="Rohingya">
            <p>US condemns 'ethnic cleansing' of Rohingya in Myanmar US Secretary of State Rex Tillerson has accused the military of Myanmar of subjecting the country's Rohingya population to "ethnic cleansing." The UN has referred to the events in Myanmar in such terms for two months.</p>
        </div>
        <div class="first-info">
            <img src="../../../assets/home-pic/angela-merkel.jpg" alt="Angela Merkel">
            <p>Angela Merkel's German coalition crisis greatly exaggerated There has been a lot of talk about German democracy in crisis. But the government keeps ticking along, and politicians across nearly the whole spectrum say the situation is hardly as dire as some are making it out to be.</p>
        </div>
    </div>
</div>